body {
    background-color: brown;
    text-align: center;
    font: normal 15px arial;
    margin: 0; /* Remove as margens padrão */
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

header {
    background-color: rgb(50, 40, 110);
    padding: 10px;
   
  
    width: 100%; /* ocupar toda a largura da tela */
    box-sizing: border-box;
}

section {
    background-color: rgb(196, 176, 187);
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-grow: 1; /
}

#caixa {
    background-color: rgb(112, 114, 182);
    border-radius: 10px;
    box-shadow: 8px 8px 8px;
    position: relative;
    width: 500px;
    height: 400px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#pergunta {
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: rgb(108, 161, 103) 3px 3px 3px;
    text-shadow: rgb(163, 131, 131) 2px 2px 2px;
}
input{
    border-color: rgba(182, 31, 202, 0.247);
    border-radius: 8px;
}
#res{
    background-color: rgb(241, 196, 247);
    border-radius: 10px;
    border-style:groove;
    padding:10px;
    
}
#dance{
    width: 84px ;
}
footer {
    background-color: rgb(50, 40, 110);
    width: 100%; 
    box-sizing: border-box; 
}
